<%= render 'header' %>

<h2>
  <%= @article.title %>
</h2>

<p class="entry-text">
  <%= @article.text %>
</p>

<p class="category">
    Filed under: <b><%= @article.category.name %></b>
</p>

<div class="button-container">
  <%= link_to 'Edit article', edit_article_path(@article), class: 'button' %>
</div>

<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>
